node_modules/
frontend/node_modules/
functions/node_modules/
dist/
frontend/out/
.next/
functions/lib/
firebase-debug.log
.DS_Store
.env
.env.*
env.production
frontend/.env
functions/.env
*.zip
razzlab-*.json
