*.env           -diff linguist-vendored export-ignore
.env.*          -diff linguist-vendored export-ignore
env.production  -diff linguist-vendored export-ignore
razzlab-*.json  -diff linguist-vendored export-ignore
*.serviceaccount.json -diff linguist-vendored export-ignore
dist/**         -diff linguist-vendored export-ignore
frontend/out/** -diff linguist-vendored export-ignore
